@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Hotel Reservation</h1>
    <p class="lead">Your journey to a seamless and enjoyable hotel booking experience starts here.</p>
    <p>Discover the best hotel rooms, exclusive deals, and a smooth booking process designed to make your travel planning effortless and enjoyable.</p>

    <br />
    <p><em>"Your Perfect Stay, Just a Click Away!"</em></p>
    <br />

</div>
    
    <h2>Our Rooms</h2>
    <div class="row">
        <div class="col-md-4">
            <img src="https://www.hotelsogo.com/images/photos/1555052379_Fast%20&%20Furious.jpg" alt="Hotel 1" class="fixed-size-img" />
        </div>
        <div class="col-md-4">
            <img src="https://cdn.coconuts.co/public/field/image/rooms4.jpg" alt="Hotel 2" class="fixed-size-img" />
        </div>
        <div class="col-md-4">
            <img src="https://hotel-sogo-santolan-manila.booked.net/data/Photos/Big/8010/801053/801053889/Hotel-Sogo-Santolan-Manila-Exterior.JPEG" alt="Hotel 3" class="fixed-size-img" />
        </div>
    </div>

<style>
    
    body {
        background-color: burlywood;
    }

    .fixed-size-img {
        width: 400px; 
        height: 300px; 
        object-fit: cover;
    }
</style>